*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ban{
    width:100%;
    height: 250px;
    padding: 2px;
}

.content-title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title{
   position: absolute;
   top: 0;
}
.App{
    background-color: lightseagreen;
}
.App h1{
    text-align: center;
}
.dimension_actual{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
}
.changeLocation{
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.changeLocation button{
    width: 180px;
}
.changeLocation button:hover{
    scale: 115%;
    
}
.input{
    width: 100%;
    
    height: 40px;
}
.residentInfo > div{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 10px;
    gap: 10px;
  
}

.residentInfo >div >img{
    width: 150px;
    height: 120px;
}

.residentInfo > div {
    background-color: azure;
}