
.ban{
    width:100%;
    height: 250px;
    padding: 2px;
}

.content-title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #062226;
}
.title{
   position: absolute;
   top: 0;
}
.App{
    background-color: #062226;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.App h1{
    text-align: center;
}
.dimension_actual{
    width: calc(80% - 100px);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
}
.changeLocation{
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.changeLocation button{
    width: 180px;
}
.changeLocation button:hover{
    scale: 115%;
    
}
.input{
    width: 100%;
    
    height: 40px;
}
.residentInfo {
    background:#062226;
    width: 250px;
    height: 200px;
    display: inline-block;
    position: relative;
   
    
}
.residentInfo_card{
    font-size: 10px;
    width: 150px;
    padding: 30px;
    height: 500px;
    

}
span{
    color:  gray;
}

.residentInfo_card > img{
    width: 220px;
    height: 180px;
}

.status{
    position:absolute;
    top: 25px;
    left: 45px;
    color: rgb(245, 244, 242);
    background-color: #062226;
    width: 120px;
    padding: 2px;
    border-radius: 40px;
}